# Ignore CMake files
**/CMakeFiles/*
**/*.cmake
**/Makefile
Makefile
CMakeCache.txt

# Ignore project files
# **/.project
# **/.cproject
# .settings/*


# Ignore tests and compiled objects 
/tests/*
**/*.axf
**/*.bin
**/*.elf
**/*.map
**/*.script
**/*.suo
**/*.a
**/*.obj

